<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
	</head>
	<body style="background-color:black">
		<h2>Login</h2>
		<div layout:fragment="content">
			<form action="#" th:action="@{/login}" method="post">
				<table>
					<tr>
						<td style="color:white">User Name:</td>
						<td style="padding:5px">
							<input type="text" name="username" id="username" placeholder="UserName" required>
						</td>
					</tr>
					<tr>
						<td style="color:white">Password:</td>
						<td style="padding:5px">
							<input type="password" name="password" id="password" placeholder="Password" required>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" value="Sign In">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>