<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
    <head>
        <meta charset="UTF-8">
        <!-- Tab Name -->
        <title>Womens</title>
    </head>
    
    <body style="background-color:black">
        <div layout:fragment="content">
            <table style="width:50%">
                <thead>
                    <tr>
                        <th style="text-align:center; color:white">Order Number</th>
                        <th style="text-align:center; color:white">Product Name</th>
                        <th style="text-align:center; color:white">Price</th>
                        <th style="text-align:center; color:white">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${orders.empty}">
                        <td style="text-align:center" colspan="4"> No Orders Available </td>
                    </tr>
                    <tr th:each="order : ${orders}">
                        <td style="text-align:center; color:white"><h5 th:text="${order.orderNo}">0000000001</h5></td>
                        <td style="text-align:center; color:white"><h5 th:text="${order.productName}">Product 1</h5></td>
                        <td style="text-align:center; color:white"><h5 th:text="${order.price}">1.00</h5></td>
                        <td style="text-align:center; color:white"><h5 th:text="${order.quantity}">1</h5></td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/}">Go Home</a><br/>
        </div>
    </body>
</html>
